* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    text-align: center;
    font-size: 50px;
    font-style: bolder;
    font-family: sans-serif;
    background-color: black;
    color: white;
}
.list {
    width: 60%;
    margin: auto;
}
.item_element {
    margin: 10px;
    background-color: black;
}
.item_element tr>td {
    width: 250px;
    text-align: center;
    padding: 5px;
}
.page-number {
    width: 60%;
    margin: auto;
}
.page-number button.active {
    background-color: gray;
    font-weight: bold;
    color: white;
}
.page-number button:hover {
    background-color: rgb(19, 20, 20);
}
.item_element tr:nth-child(odd) {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(223, 214, 214);
}
.item_element tr:nth-child(even) {
    background-color: white;
}
.page-number button {
    width: 40px;
    padding: 5px;
    margin-right: 20px;
    border: 1px solid rgb(65, 63, 63);
    cursor: pointer;
}
